{% extends "base.html" %}

{% block content %}

    <form class="form-inline" method = "post" action = "edit/{{tag.id}}">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Tag Name" name="name" value="{{tag.name}}" required>
        <label>
            Active? <input type="checkbox" name="active" {% if tag.active %} checked {% endif %}> 
        </label>
        <button type="submit">Update Tag</button>
    </form>
    <p><em>{{tag.name}}</em> tag is <strong>{% if tag.active %} active{% else %} inactive{% endif %}</strong>.</p>
    
    <h1>{{tag.name}}'s Transactions</h1>

    <table id = "merchants-tags">
        <tr>
            <th>Amount</th>
            <th>Tag</th>
            <th>Merchant</th>
            <th>Date</th>
            <th>Comments</th>
        </tr>
        {% for transaction in transactions  %}
        <tr>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.tag.name}}</td>
            <td>{{transaction.merchant.name}}</td>
            <td>{{transaction.fecha}}</td>
            <td>{{transaction.comments}}</td>   
        </tr>
        {% endfor %}
    </table>
{% endblock  %}