{% extends "base.html" %}

{% block content%}

<form class="form-inline" method = "post" action = "edit/{{tag.id}}">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Tag Name" name="name" value="{{tag.name}}">
    <label>
      <input type="checkbox" name="active" {% if tag.active %} checked {% endif %}> Active?: 
    </label>
    <button type="submit">Update Tag</button>
</form>

<!-- <ul> -->
    <h1>Transactions</h1>

    <!-- <table id = "tags-tags">
    <tr>
        <th>Tag</th>
        <th>Active Status</th>
        <th>Delete</th>
    </tr>
    
        {% for tag in tags  %}
            <tr>
                <td><a href = "/tags/{{tag.id}}">{{tag.name}}</a></td>
                <td>{% if  tag.active %} &checkmark; {% else %} &cross; {% endif %}</td>
                <td>
                    <form class = "delete-form" action = "/" method = "POST">
                        <button type = "submit">Delete Tag</button>
                    </form>
                </td>
            </tr>

        {% endfor %}
    </table> -->
<!-- </ul> -->
  

{% endblock  %}