<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style1.css') }}">
    <title>Spending Tracker</title>
</head>
<body>
    <header>
        <h1 id = "logo">ST</h1>
        <nav>
            <ul class="menu">
                <li><a href = "/">Home</a></li>
                <li><a href = "/transactions">Transactions</a></li>
                <li><a href = "/merchants">Merchants</a></li>
                <li><a href = "/tags">Tags</a></li>
            </ul>
        </nav>
    </header>

    <div class = "container">

        {% block content %}

        {% endblock %}

    </div>

    <footer>
        <p>&copy; Esgrid Sikahall [2021]</p>
    </footer>
</body>
</html>