{% extends "base.html" %}

{% block content %}
<article class = "budget">
    <header>
        <h1>Welcome to your spending tracker app</h1>
    </header>
    <main>
        {% if budget != '' %}
            <p>Your chosen budget is <a href = "/">£{{budget.alloted}}</a></p>
        {% else %}
        <form action = "/budget" method = "post">
            <div>
                <label for = "budget">My budget is:</label>
                <input type = "number" step = 0.01 id = "budget" name = "budget" placeholder = "£" required autofocus>
            </div>
            <button type = "submit">Set Budget</button>
        </form>            
        {% endif %}
    </main>
</article>
{% endblock %}