{% extends "base.html" %}

{% block content %}

    <form class="form-inline" method = "post" action="edit/{{merchant.id}}">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Merchant Name" name="name" value="{{merchant.name}}" required>
        <label>
            Active? <input type="checkbox" name="active" {% if merchant.active %} checked {% endif %}> 
        </label>
        <button type="submit">Update Merchant</button>
    </form>
    <p>Merchant <em>{{merchant.name}}</em> is <strong>{% if merchant.active %} active{% else %} inactive{% endif %}</strong>.</p>

    <h1>{{merchant.name}}'s Transactions</h1>

    <table id = "merchants-tags">
        <tr>
            <th>Amount</th>
            <th>Tag</th>
            <th>Merchant</th>
            <th>Date</th>
            <th>Comments</th>
        </tr>
        {% for transaction in transactions  %}
        <tr>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.tag.name}}</td>
            <td>{{transaction.merchant.name}}</td>
            <td>{{transaction.fecha.strftime("%A %d %B %Y")}}</td>
            <td>{{transaction.comments}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock  %}