{% extends "base.html" %}

{% block content %}

    <form class="form-inline" method = "post" action="edit/{{merchant.id}}">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Merchant Name" name="name" value="{{merchant.name}}">
        <label>
            Active?<input type="checkbox" name="active" {% if merchant.active %} checked {% endif %}> 
        </label>
        <button type="submit">Update Merchant</button>
    </form>

    <h1>Transactions {{merchant.name}}</h1>

    <table id = "merchants-tags">
        <tr>
            <th>Amount</th>
            <th>Tag</th>
            <th>Merchant</th>
            <th>Date</th>
            <th>Comments</th>
            <th>Delete</th>
        </tr>
        {% for transaction in transactions  %}
        <tr>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.tag.name}}</td>
            <td>{{transaction.merchant.name}}</td>
            <td>{{transaction.fecha}}</td>
            <td>{{transaction.comments}}</td>
            <td>
                <form class = "delete-form" action = "/" method = "POST">
                    <button type = "submit">Delete</button>
                </form>
            </td>        
        </tr>
        {% endfor %}
    </table>
{% endblock  %}